<footer class="site-footer">
  <div class="wrap footer-row">

    <p>&copy; 2026 Dr. Maximilian Methodius</p>

    <nav class="footer-nav" aria-label="Footer-Navigation">
      <a href="{{ '/kontakt.html' | url }}">Kontakt</a>
      <a href="{{ '/methodius-abc.html' | url }}">Methodius-ABC</a>
      <a href="{{ '/datenschutz.html' | url }}">Datenschutz</a>
      <a href="{{ '/impressum.html' | url }}">Impressum</a>
    </nav>

  </div>
</footer>
